body{
    margin: 0;
    font-family: Arial, sans-serif;
}


header{
    background: #35424a;   
    color: #ffffff;        
    padding: 70px;
}

header a{
    color: #ffffff;
    text-decoration: none;
}

header li{
    display:inline;
    margin-right: 50px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, 
header .current a{
    color: #e8491d;   
}

header a:hover{
    color: #cccccc;
}



footer{
    background: #e8491d;  
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
